

.footer {
    background-image: url("img/footer-bg.jpg");
    background-size: 100% 100%;
    height: 450px;
    padding-top: 150px;
  }
  
.footer .footer-icon h2 {
    color: #fff;
    font-family: "Croissant One", cursive;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    position: relative;
  }
  
.footer .footer-icon h2::before {
    background: #455a64 none repeat scroll 0 0;
    bottom: -17px;
    content: "";
    height: 2px;
    left: 0;
    position: relative;
    width: 310px;
  }
  
.footer .footer-icon h5 {
    color: #4c797d;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 35px;
  }
  
.footer .footer-icon i {
    color: #fff;
    font-size: 25px;
    padding: 0 44px 0 0;
  }
  
.footer-text {
    display: flex;
    justify-content: space-around;
  }
  
.footer-text-category h3 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    color: #fff;
  }
  
.footer-text-category p a {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #4c797d;
    text-decoration: none;
    margin-left: 50px;
  }