body {
  font-family: "Raleway", sans-serif;
  background: #fbfbfb;
  margin: 0;
  padding: 0;
}

/* HEADER */

/* NAVBAR */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Raleway", Times, serif;
  }

  .logo {
    width: 150px;
  }

  
  .main-nav  {
    display: flex;
  }


  .main-nav a {
      color: white;
      display: block;
      padding: 10px 10px;
      text-decoration: none;
      text-transform: uppercase;
    }
    
    .main-nav a:hover,
    .main-nav a:focus{
        background: #e4b363;
        color: #464655; 
    }
    .main-nav .icon {
      display: none;
    }
  
 /* NAVBAR */
 
 /* NAVBAR-BURGER */

   #menuToggle
{
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}




#menuToggle input
{
  display: none;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: none;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -150px 0 0 -50px;
  padding: 50px;
  padding-top: 50px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
 
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

/* NAVBAR-BURGER */

  
  
  /* @media only screen and (min-width: 375px) 
  and (min-height: 812px) {
    
  .main-nav a:not(:first-child) {display: none;}
  .main-nav a.icon {
    float: right;
    display: block;
  }

  .main-nav.responsive {position: relative;}
  .main-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .logo{
    display: none;
  }

  .main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
} */


header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  padding: 50px;
}

.wrapper header.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #242f31, #312431);
  opacity: 0.6;
}
.wrapper header.header {
  background-image: url("img/header-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}

.wrapper header.header .container {
  position: relative;
}
.wrapper header.header img.shape-white{
  position: absolute;
  width: 100%;
  bottom: -75px;
}


.row-another-text{
  z-index: 50; 
   position: absolute; 
  color: #000000;
  bottom: -10px;
}

/**ROND BACKGROUND**/
.wrapper header.header img.shepe1 {
  left: 200px;
  position: absolute;
  top: 60px;
  width: 40px;
  height: 40px;
}

.wrapper header.header img.shepe2 {
  height: 75px;
  left: 72px;
  position: absolute;
  top: 125px;
  transform: rotate(180deg);
  width: 75px;
}

.wrapper header.header img.shepe3 {
  height: 75px;
  left: 160px;
  position: absolute;
  top: 200px;
  transform: rotate(180deg);
  width: 75px;
}

.wrapper header.header img.shepe4 {
  height: 50px;
  left: 290px;
  position: absolute;
  top: 130px;
  width: 50px;
}

.wrapper header.header img.shepe5 {
  height: 50px;
  left: 590px;
  position: absolute;
  top: 100px;
  width: 50px;
}

.wrapper header.header img.shepe6 {
  height: 75px;
  left: 800px;
  position: absolute;
  top: 90px;
  width: 75px;
}

/* TEXTE HEADER */
.wrapper header.header .header-text {
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 130px;
  text-align: center;
  width: 770px;
}

.wrapper header.header .header-text h1 {
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 20px;
  position: relative;
}

.wrapper header.header .header-text h1::before {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 130px;
  position: absolute;
  width: 500px;
}

.wrapper header.header .header-text p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 57px;
}

/* BOUTONS */
.wrapper header.header .header-text button {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 60px / 61px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 170px;
  margin-right: 27px;
  padding: 14px 50px;
}

.wrapper header.header .header-text button:hover {
  background: #fff;
  color: #11bdd7;
}

/* TEXTE EN DESSOUS */
.wrapper header.header .another-text h3 {
  color: #455a64;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
  position: relative;
  margin-top: 200px;
  margin-left: 50px;
}

.wrapper header.header .another-text h3::before {
  background: #455a64 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  bottom: 0px;
  width: 70px;
}

.wrapper header.header .another-text p {
  color: #78909c;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 15px;
  margin-left: 50px;
}


/* HEADER */

/* CONCEPT */

.concept {
  font-family: "Raleway", sans-serif;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}
.concept > div {
  width: 50%;
  height: 500px;
}
.concept-text {
  color: white;
  display: flex;
  align-items: center;
}
.concept-text-container {
  padding: 20px 50px;
}
.concept .bebenounou {
  background-color: #379c94;
}
.concept .missions {
  background-color: #20635d;
}
.concept-image {
  background-size: cover;
  background-attachment: fixed;
}

.concept-image-1, .concept-image-2{
  background-image: url(./img/bg.jpg);
}

/* CONCEPT */

/* OPINIONS */

.opinions {
  font-family: "Raleway", sans-serif;
  padding: 20px;
  margin-top: 170px;
  text-align: center;
}

.text-opinion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  color: rgb(0, 0, 0);
  margin-top: 50px;
}
.text-opinion .main-content{
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 10px 15px;
    max-width: 30%;
    margin-bottom: 70px;
}


/* OPINIONS */

/* DEVELOPMENT */
.wrapper section.development {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
}

.wrapper section.development .white {
  bottom: -22px;
  height: 225px;
  overflow: hidden;
}

.wrapper section.development .design-development {
  text-align: center;
  padding-top: 50px;
}

.wrapper section.development .design-development i {
  font-size: 41px;
  background: #f48fb1;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  position: relative;
}

.wrapper section.development .design-development i::after {
  border: 1px solid #f48fb1;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
  border-radius: 50%;
}

.wrapper section.development .design-development i::before {
  border: 1px solid #f48fb1;
  content: "";
  height: 140px;
  left: -20px;
  position: absolute;
  top: -20px;
  width: 140px;
  border-radius: 50%;
}

.wrapper section.development .design-development.one i {
  background: #0ceac5;
}

.wrapper section.development .design-development.one i::after,
.wrapper section.development .design-development.one i::before {
  border: 1px solid #0ceac5;
}

.wrapper section.development .design-development.three i {
  background: #82b1ff;
}

.wrapper section.development .design-development h2 {
  position: relative;
  color: #455a64;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 55px auto 25px;
  width: fit-content;
}

.wrapper section.development .design-development h2::before {
  border: 1px solid #455a64;
  bottom: -15px;
  content: "";
  position: absolute;
  width: 100%;
}

.wrapper section.development .design-development p {
  color: #455a64;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

/* DEVELOPMENT */


/* FOOTER */

iframe {
  border: none;
}

.footer-iframe {
  width: 100%;
  height: 100%;
}

/* FOOTER */

/* CONTACT FORM */
input[type=text], textarea, input[type=email] {
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #F07E48;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

label{
  font-family: "Raleway", sans-serif;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.bouton {
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #F07E48 ;
  text-decoration: none;
}

.bouton:hover {
  background-color: #F07E48 ;
}

.container-form {
 
  box-sizing : border-box;
  border-radius:5px;
  background-color:#f2f2f2;
  padding:20px;
  width: 100%;

  max-width: 440px;
  margin:0 auto;

  font-family: "Raleway", sans-serif;
  color:#444864;

}

/* QUI SOMMES-NOUS */

.title {
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 130px;
  text-align: center;
  width: 770px;
}

/* FOOTER */

footer {
  background-image: url("img/footer-bg.jpg");
  background-size: 100% 100%;
  height: 450px;
}

footer .footer-icon h2 {
  color: #fff;
  font-family: "Croissant One", cursive;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
}

footer .footer-icon h2::before {
  background: #455a64 none repeat scroll 0 0;
  bottom: -17px;
  content: "";
  height: 2px;
  left: 0;
  position: relative;
  width: 310px;
}

footer .footer-icon h5 {
  color: #4c797d;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 35px;
}

footer .footer-icon i {
  color: #fff;
  font-size: 25px;
  padding: 0 44px 0 0;
}

.footer-text {
  display: flex;
  justify-content: space-around;
}

.footer-text-category h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
  color: #fff;
}

.footer-text-category p a {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4c797d;
  text-decoration: none;
  margin-left: 50px;
}

/* FOOTER */